*{
  font-family: verdana;
  font-weight: bold;
  font-size: 1.3rem;
}
h1{
  font-size: 3rem;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
}
h2{
  text-decoration: underline;
  font-style: italic;
  font-size: 2rem;
}
body{
  background-image: radial-gradient(powderblue 20%, chocolate);
}
button{
  background-color: blue;
  color: white;
}