* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: blanchedalmond;
}

header {
  background-color: cadetblue;
  padding: 10px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

header .heading h1 {
  cursor: pointer;
}

header .heading h1:hover {
  color: #111;
}

header .header-titles ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 500;
  gap: 50px;
}

header .header-titles ul li {
  list-style: none;
}

header .header-titles ul li a {
  text-decoration: none;
  color: #fff;
}

header .header-titles ul li a:hover {
  color: #111;
}

.head-title {
  font-size: 60px;
  font-weight: 600;
}

#aboutPage {
  margin: 20px;
}

#aboutPage .product-types {
  margin-top: 20px;
}

#aboutPage .product-types ul li {
  list-style: none;
}

#aboutPage .product-types ul a {
  color: #111;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

#aboutPage .product-types ul a:hover {
  color: cadetblue;
}

#aboutPage .product-description {
  margin-top: 20px;
}

.product-title h2 {
  font-size: 40px;
}

.product-title img {
  width: 300px;
  height: 300px;
}

.product-title .coffeeDetails {
  font-size: 18px;
  font-weight: 500;
}

#work-timings {
  margin: 20px;
}

#contactPage {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.contact-left a {
  text-decoration: none;
  color: #111;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  line-height: 20px;
}

.contact-right form input {
  padding: 10px;
  width: 800px;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
}

.contact-right form textarea {
  font-size: 18px;
  padding: 10px;
  width: 800px;
}

.contact-right form button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 5px;
}

.contact-right form button:hover {
  color: #fff;
  background-color: cadetblue;
  cursor: pointer;
}

footer {
  background-color: cadetblue;
  padding: 10px;
}

footer {
  text-align: center;
}
